h1, h2, h3, p {
    color: white;
}

.movie-backdrop {
    max-width: 100%;
    margin-top: 5rem;
}

/* FIXME: */
.favorite {
    
}

.movie-poster {
    width: 90%;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;
}

.movie-title {
    display: flex;
    justify-content: center;
    bottom: 1.25rem; 
    left: 1.25rem; 
    font-size: 2.25rem; 
    font-weight: 700; 
    padding: 0.75rem 0.75rem; 
    color: white; 
}

/* .bold-text{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
} */

.movie-content {
    padding: 1rem 2rem 1rem;
}

.rating {
    background-color: #BF7381;
    padding: 1.2rem .5rem 1.2rem;
    font-weight: bold;
    font-size: 1.5rem;
    border: 3px solid #2A0C4B;
    width: 30%;
}

.movie-details {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}


.react-multi-carousel-track {
    gap: 1px;
    padding-left: 4rem;
}

.cast {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.cast-card {
    border: 2px solid #BF7381;
    border-radius: 1rem;
    padding: 0;
    width: 9.7rem;
}

.actor-photo {
    width: 9.6rem; 
    height: 13rem; 
    object-fit: cover; 
    border-radius: 1rem;
    border: 1px solid #6b7280; 
}

.actor-name {
    margin-top: 0.5rem; 
    font-weight: 600;  
    display: flex;
    justify-content: center;
    margin-bottom: -1rem;
    font-size: 1rem;
    padding: 0 .3rem 0;
}

.character-name {
    color: #9ca3af; 
    font-size: 0.875rem; 
    display: flex; 
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0 .5rem 0;
}