.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
  }
  
  .favorite-icon {
    fill: none;
    stroke-width: 2;
    transition: transform 0.2s ease-in-out;
  }
  
  .favorite-button:hover .favorite-icon {
    transform: scale(1.2);
  }
  
  /* Style for empty bookmark */
  .favorite-icon.empty {
    stroke: #bf7381; 
  }

  /* Style for filled bookmark */
  .favorite-icon.filled {
    stroke: #bf7381; 
    fill: #bf7381;
  }
  