footer {
  background-color: #030641;
  padding: 2rem 1rem 1rem 1rem;
  margin-top: 1rem;
  border-top: 3px solid #b57690;
  text-align: center;

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }
  p {
    margin: 0;
  }
}
