header {
  background-color: #030640e9;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;

  img {
    width: 6rem;
    padding: 1rem;

  }

  h1 {
    color: #bf7381;
    font-size: 2.5rem;
    
    a{
      font-weight: 800;
      color: #bf7381;
    }
    

  }
}

header a {
  color: #fff;
}

@media screen and (min-width: 51.25rem) {
  header {
    img {
      width: 7rem;
    }
  }
}
